.padding-container {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;

}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    height:325px;
    width:325px;
    border-radius: 10%;
 }

 .spot-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.firstRow {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.spot-price{
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: inherit;
  }
